<!DOCTYPE html>

<html>
<head>
  <title>SneakerEmpire</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="menu col-xs-8">
                  <h1>Sneaker Empires</h1>
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="sneakerlist">Sneaker List</a></li>
                  </ul>
                </div>
            </div>

            <div class="row">
               <div class="col-md-8">
                 <div class="thumbnail">
                   <!-- Undefeated x Air Force 1 Low '5 On It' -->
                   <img src="https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/058/631/124/original/802662_01.jpg.jpeg?1628607807"width="500" height="250"><br><br>
                   <p style="text-align:center-center;font-size:20px;"><strong>Undefeated x Air Force 1 Low '5 On It'</strong></p><br><br><br><br><br><br>
                 </div>
               </div>

               <div class="col-md-4">
                 <div class="thumbnail">
                   <!-- Dunk Low 'Black White' -->
                   <img src="https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/051/507/244/original/719082_01.jpg.jpeg?1615349758"width="500" height="250"><br><br>
                   <p style="text-align:center-center;font-size:20px;"><strong>Dunk Low 'Black White'</strong></p><br><br><br><br><br><br>
                 </div>
               </div>
             </div>
             <div class="row">
                <div class="col-md-8">
                  <div class="thumbnail">
                    <!-- Parra x Dunk Low Pro SB 'Abstract Art' -->
                    <img src="https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/057/775/042/original/786432_01.jpg.jpeg?1627052601"width="500" height="250"><br><br>
                    <p style="text-align:center-center;font-size:20px;"><strong>Parra x Dunk Low Pro SB 'Abstract Art'</strong></p><br><br><br><br><br><br>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <!-- Dunk Low 'Michigan' 2021 -->
                    <img src="https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/053/600/419/original/719955_01.jpg.jpeg?1619103827"width="500" height="250"><br><br>
                    <p style="text-align:center-center;font-size:20px;"><strong>Dunk Low 'Michigan' 2021</strong></p><br><br><br><br><br><br>
                  </div>
                </div>
              </div>
              <div class="row">
                 <div class="col-md-8">
                   <div class="thumbnail">
                     <!-- Dunk Low GS 'University Blue' -->
                     <img src="https://image.goat.com/crop/1800/attachments/product_template_additional_pictures/images/054/788/981/original/764462_02.jpg.jpeg?1621298136"width="500" height="250"><br><br>
                     <p style="text-align:center-center;font-size:20px;"><strong>Dunk Low GS 'University Blue'</strong></p><br><br><br><br><br><br>
                   </div>
                 </div>
                 <div class="col-md-4">
                   <div class="thumbnail">
                     <!-- AMBUSH x Dunk High 'Flash Lime' -->
                     <img src="https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/058/281/140/original/796818_01.jpg.jpeg?1627996423"width="500" height="250"><br><br>
                     <p style="text-align:center-center;font-size:20px;"><strong>AMBUSH x Dunk High 'Flash Lime'</strong></p><br><br><br><br><br><br>
                   </div>
                 </div>
               </div>

</body>
</html>
