<!DOCTYPE html>

<html>
<head>
  <title>Home!</title>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="menu col-xs-8">
          <h1>Sneaker Empires</h1>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="sneakerlist">Sneaker List</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="main home">
    <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <br>
        <h2>Welcome to <span class="highlight">Sneaker Empires</span></h2>
        <a class="btn left" href="sneakerlist">View sneaker list</a>
      </div>
    </div>
  </div>
</body>
</html>
