<!DOCTYPE html>
<html>
<head>
  <title>SneakerHeads</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="menu col-xs-8">
                  <h1>Sneaker Empires</h1>
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="sneakerlist">Sneaker List</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main about">
      <div class="jumbotron">
        <div class="container">
		    </div>
      </div>
    </div>
    <div class="about-text">
		<div id="about-text"><br><br>
      <p style="text-align:center">Welcome to the one and only <span id="name">Sneaker Empires</span> web store.</p>
			<p style="text-align:center">This project we're created by using Ruby on Rails and it's still in a beta version.</p>
			<p style="text-align:center">The reason why I created a sneaker web project is due to my love for sneakers and never miss the hype.</p>
		</div>
	</div>
